<header class="header">
    <button id="buttonNavbar">Header</button>
</header>
<style type="text/css">
    .header {
        background-color: #283747;
        color: #fff;
        font-size: 15px;
        font-family: sans-serif;
        padding: 5px 0;
        text-align: center;
        padding: 20px 0;
    }
    button{
        padding: 10px 5px;
        background-color: #4215b5;
        color: white;
        border: none;
        border-radius: 10px;
        width: 100px;
    }
    button:hover{
        cursor: pointer;
    }
</style>