<section>
   <button id="buttonSection">My-Section</button>
</section>
<style>
    section {
        min-height: 80vh;
        background-color: #E67E22;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    button{
        padding: 10px 5px;
        background-color: #b3b3b2;
        color: white;
        border: none;
        border-radius: 10px;
        width: 100px;
    }
    button:hover{
        cursor: pointer;
    }
</style>